@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #37DACA;
  /* --secondary-color: #9bc400; */
}

.image-container {
  width: 100%;
}.image-container div {
    position: unset !important;
  }
  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
}

.nav-logo{
  width: 7.5rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  flex: 1;
}

.links {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  text-decoration: none;
  margin-left: 1rem; 
}
.links span:hover {
  color: var(--primary-color);
}

.links-container {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  /* Add the media query styles */
  .links-container {
    flex-direction: column; /* Change flex direction to column on smaller screens */
    align-items: flex-start; /* Align items to the start vertically */
    margin: auto;
  }
  .nav-logo {margin:auto;}

  .links {
    margin: 0.5rem 0; /* Adjust margin for smaller screens */
  }
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo,
  .links {
    width: 100%;
    text-align: center;
  }

  .links {
    margin-top: 1rem;
    justify-content: center;
  }

  .links span {
    display: block;
    margin: 0.5rem 0;
  }
}

/* header */
.header-title {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

}
.header {
  height: 768px; 
}
.header-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {

  .header {
    height: 50%; 
  }
}

/* challenge */

.container-issue {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.left-issue,
.right-issue {
  padding: 1rem;
  background-color: white;
}

.left-issue ul,
.right-issue ul {
  list-style: none;
  padding: 0;
}

.left-issue li,
.right-issue li {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .container-issue {
    display: block;
  }
}

/* Solution */

.container-solution {
  display: flex;
  justify-content: center;
}


.grid-item-solution li {
  list-style-type: disc;
}
.grid-item-solution div {
  margin: 2rem;
}
.grid-item-solution {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-item-solution > :last-child {
  grid-column: span 2;
}

@media (max-width: 768px) {
  .container-solution {
    flex-direction: column; /* Stack items in a column */
  }
  .grid-item-solution {
    display:block;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-item-solution div {
    margin: 1.5rem;
  }
  .left-solution,
  .right-solution {
    width: 100%; /* Full width for smaller screens */
  }
}


/* HowItWorks.module.css */
.HIWcontainer {
  padding: 1rem;
}

.HIWheading {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 1rem;
}

.HIWstepsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.HIWstep {
  flex: 1 1 48%; /* Each step takes up 48% of the container width */
  background-color: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.HIWstepTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Mobile-friendly styles */
@media (max-width: 768px) {
  .HIWstep {
    flex-basis: 100%; /* Each step takes up 100% of the container width on smaller screens */
  }
}

/* FAQ */

.FAQ {
  padding: 8px;
  margin: 0 auto;
  max-width: 50%; /* Half width by default */
}

@media (max-width: 768px) {
  .FAQ {
    max-width: 100%; /* Full width on screens smaller than 640px */
  }
}


.underline-turq {
  position: relative;
}

.underline-turq::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px; /* Adjust the value to change the underline thickness */
  width: 100%;
  height: 2px; /* Adjust the value to change the underline thickness */
  background-color: var(--primary-color); /* Use the primary color for the underline */
}

/* team */

.team-img {
  width: 5rem;
  height: 5rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-container {
  background-color: var(--primary-color);
  padding: 5rem 1rem;
}

.team-heading {
  color: #ffffff; /* Text color on primary background */
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.teamMembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.member-info {
  margin: 2rem 0rem;
}
.member-social {
  margin: 0.5rem 0rem;
}

.teamMember {
  flex: 0 0 calc(33.33% - 0.5rem); /* Three items across with some spacing */
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .teamMember {
    flex-basis: calc(50% - 0.5rem); /* Two items across on smaller screens */
  }
  .member-info {
    margin: 1rem 0rem;
  }
  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
